.ant-layout-topaside {
  height: 100%;
}

.ant-layout-topaside .broker-panel-layout-wrapper {
  padding: 0 50px;
}

.ant-layout-topaside .broker-panel-layout-container {
  background: #fff;
  margin: 24px 0 0;
  position: relative;
  padding: 24px 0;
  overflow: hidden;
}
