.main-panel .ant-row {
  margin-left: 5px;
  margin-right: 5px;
}
.main-panel .ant-row > div {
  padding: 10px 10px;
}

.panel-image *{
  vertical-align:middle;
  height: 120px;
}

.panel-image > img {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.panel-image > span {
  display: inline-block;
  font-size: 50px;
  text-align:center;
  line-height:120px;
  width: 50px;
  padding-left:40px;
}

.ant-layout-topaside .ant-layout-container {
  background: #fff;
  margin: 24px 0 0;
  position: relative;
  padding: 24px 0;
  overflow: hidden;
}
